<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>draw-num</title>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="/static/js/app.js"></script>
</head>
<body>
  <h1>Draw num</h1>
  <canvas
    id="draw-area"
    width="140px"
    height="140px"
    style="border: 1px solid #000000;"></canvas>
  <div>
    <button id="clear-button">全消し</button>
    <button id="img">送信</button>
  </div>
  <div id="answer"></div>
  <img id="saveImg" src="" width="280px">
  <img id="inverseImg" src="" width="280px"><br>
  <div id="advAnswer"></div>
  <img id="noiseImg" src="" width="280px">
  <img id="advImg" src="" width="280px">
</body>
</html>
